<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/files.ejs') %>
    <title>My Videogame List</title>
</head>
<body>
    <header class="index">
        <h1>My Video Game List</h1>
        <h1>User: <%= user %></h1>
        <a href="/games/new"><h1>Add a New Game</h1></a>
        <a href="/user/logout"><h1>Logout</h1></a>
    </header>
    <div class="container">
        <% for (game of games) { %>
            <div class="card">
                <img src="<%= game.image %>">
                <a href="/games/<%= game._id %>">
                    <h2><%= game.name %></h2>
                </a>
            </div>
        <% } %>
    </div>  
</body>
</html>